.sidebar{
    width:250px;
    min-height:100vh;
    background:#111827;
    color:white;
    padding:30px 20px;
    position:fixed;
    left:0;
    top:0;
}

.sidebar-logo{
    color:#3B82F6;
    margin-bottom:50px;
    text-align:center;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:16px;
    margin-bottom:10px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
    font-size:18px;
}

.sidebar li:hover{
    background:#2563EB;
}