.navbar{
    background:red !important;
    height:80px !important;

    display:flex !important;
    justify-content:space-between !important;
    align-items:center !important;
}

.logo{
    background:yellow;
}

.nav-links{
    display:flex !important;
    gap:30px;
    background:green;
}

.auth-buttons{
    display:flex !important;
    gap:10px;
    background:orange;
}